@model SetCredentialsModel
@{
    ViewData["Title"] = "Flex Fields - Credentials";
}

<h2>Update credentials for the Flex Fields setup</h2>
<p>
    The credentials you enter here are only saved in your cookies, not on our server.
</p>

@if(TempData["show-success"] != null)
{
    <div class="alert alert-success">
        Your credentials have been reset. The form below shows the current active credentials.
    </div>
}

<div class="row">
    <div class="col-md-6">
		<form asp-controller="Home" asp-action="SetCredentials" method="POST">
			<div class="form-group">
				<label>Environment</label>
				<select class="form-control" asp-for="Environment">
					<option>local</option>
					<option>dev</option>
					<option>Staging</option>
					<option>Sandbox</option>
					<option>Production</option>
				</select>
			</div>
			<div class="form-group">
				<label>API Username</label>
				<input type="text" class="form-control" asp-for="SplititApiUsername">
			</div>
			<div class="form-group">
				<label>API Password</label>
				<input type="text" class="form-control" asp-for="SplititApiPassword">
			</div>
			<div class="form-group">
				<label>API Key</label>
				<input type="text" class="form-control" asp-for="SplititApiKey">
			</div>
			<div class="form-group">
				<label>API Url</label>
				<input type="text" class="form-control" asp-for="SplititApiUrl">
			</div>
			<div class="form-group">
				<label>Flex fields url</label>
				<input type="text" class="form-control" asp-for="FlexFieldsUrlRoot">
			</div>
			<div class="form-group">
				<label>Flex fields url (v2)</label>
				<input type="text" class="form-control" asp-for="FlexFieldsV2UrlRoot">
			</div>
			<div class="form-group">
				<label>Upstream url</label>
				<input type="text" class="form-control" asp-for="UpstreamUrlRoot">
			</div>
			<div class="form-group">
				<label>Payment form url</label>
				<input type="text" class="form-control" asp-for="PaymentFormEmbedderUrlRoot">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

        <form asp-controller="Home" asp-action="ResetCredentials" method="POST">
            <button type="submit" class="btn btn-default">Reset</button>
        </form>
    </div>
</div>
