@model SetCredentialsModel
@{
    ViewData["Title"] = "Flex Fields - Credentials";
}

<h2>Update credentials for the Flex Fields setup</h2>
<p>
    The credentials you enter here are only saved in your cookies, not on our server.
</p>

@if(TempData["show-success"] != null)
{
    <div class="alert alert-success">
        Your credentials have been reset. The form below shows the current active credentials.
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Home" asp-action="SetCredentials" method="POST">
            <div class="form-group">
                <label>API Username</label>
                <input type="text" class="form-control" asp-for="SplititApiUsername">
            </div>
            <div class="form-group">
                <label>API Password</label>
                <input type="text" class="form-control" asp-for="SplititApiPassword">
            </div>
            <div class="form-group">
                <label>API Key</label>
                <input type="text" class="form-control" asp-for="SplititApiKey">
            </div>
            <div class="form-group">
                <label>Environment</label>
                <select class="form-control" asp-for="Environment">
                    <option>Sandbox</option>
                    <option>Production</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


        <form asp-controller="Home" asp-action="ResetCredentials" method="POST">
            <button type="submit" class="btn btn-default">Reset</button>
        </form>
    </div>
</div>
