@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding: 50px;">
    <a asp-action="Example" asp-controller="Home">Access Flex Fields &amp; Upstream Messaging demo</a>
</div>

