@model CommonTestModel
@{
    ViewData["Title"] = "Flex Fields - Basic flow";
}

<h1>@ViewData["Title"]</h1>

<div>
    <button type="button" style="padding: 10px; margin-bottom: 10px;" onclick="flexFieldsInstance.toggle()">Choose Splitit Payment Option</button>
</div>

<div class="splitit-design-classic" id="splitit-card-data">
    <div class="splitit-cc-group">
        <div id="splitit-card-number"></div>
        <div id="splitit-expiration-date"></div>
        <div id="splitit-cvv"></div>
        <div class="splitit-cc-group-separator"></div>
    </div>

    <div id="splitit-installment-picker"></div>
    <div id="splitit-error-box"></div>
    <div id="splitit-terms-conditions"></div>
    <button id="splitit-btn-pay"></button>
</div>
<div style="padding: 10px; margin-top: 10px;">
    <a href="javascript:void(0)" onclick="completeOnNextPage(this)">Complete flow on next page instead</a> 
    <div id="next-page-error-box"></div>
</div>

@section Scripts {
	<script>
        var flexFieldsInstance = Splitit.FlexFields.setup({
            debug: true,
            culture: '@Model.Culture',
            publicToken: '@Model.PublicToken',
            container: '#splitit-card-data',
            fields: {
                number: {
					selector: "#splitit-card-number"
                },
                cvv: {
					selector: "#splitit-cvv"
                },
                expirationDate: {
					selector: "#splitit-expiration-date"
                }
            },
            installmentPicker: {
				selector: "#splitit-installment-picker"
            },
            termsConditions: {
				selector: "#splitit-terms-conditions"
            },
            errorBox: {
				selector: "#splitit-error-box"
            },
            paymentButton: {
				selector: "#splitit-btn-pay"
            }
        }).ready(function () {
            var splititFlexFields = this;

            splititFlexFields.updateDetails({
                billingAddress: {
                    AddressLine: "260 Madison Avenue.",
                    AddressLine2: "Appartment 1",
                    City: "New York",
                    State: "NY",
                    Country: "USA",
                    Zip: "10016"
                },
                consumerData: {
                    FullName: "John Smith",
                    Email: "JohnS@splitit.com",
                    PhoneNumber: "1-844-775-4848",
                    CultureName: "en-us"
                }
            });
        }).onSuccess(function (result) {
            // Respond here if everything goes well.
            alert('Payment was successful! Check console for result details.');
            console.log(result);
        });

        function showSplititForm(){
            flexFieldsInstance.toggle();
        }

        function completeOnNextPage() {
            if (!flexFieldsInstance.hasErrors()) {
                var sessionData = flexFieldsInstance.getSessionParams();
                window.location.href = '@Url.Action("NextPageComplete")?publicToken=' + sessionData.publicToken + '&planNumber=' + sessionData.planNumber;
            } else {
                $("#next-page-error-box").text('There are some errors on the form still.');
                setTimeout(function () { $("#next-page-error-box").text(''); }, 2500);
			}
		}
	</script>
}