@model CommonTestModel

@inject CredentialSource Credentials

@{
	ViewData["Title"] = "Embedded PFv3 - PoC";
	Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<div id="splitit-payment-container">

</div>

<div id="success-alert" class="alert alert-success" style="display: none;">
	Your payment was successful!
</div>

<div id="error-alert" class="alert alert-danger" style="display: none;">
	Your payment failed.
</div>

@section Scripts {
	<script src="@Credentials.PaymentFormEmbedderUrlRoot/pf-embedded.js?v=@(System.DateTime.Now.Ticks)"></script>

	<script>
        Splitit.Popup.setup({
            popupUrl: '@Credentials.PaymentFormEmbedderUrlRoot',
			__style: {
				buttonStyle: {
					text: "Text button."
				},
				poweredByStyle: {
					text: "Text powered by."
				}
			},
			_style: {
				_frameHeight: "800px",
				_frameWidth: "800px",
				buttonStyle: {
					border: "2px solid brown",
					borderRadius: "0",
					bgColor: "red",
					fontSize: "8px",
					fontFamily: "Times New Roman",
					width: "400px",
					height: "100px",
					color: "blue",
					padding: "11px",
					align: "right",
					float: "right",

					text: "Text button."
				},
				poweredByStyle: {
					border: "2px solid brown",
					borderRadius: "0",
					bgColor: "red",
					fontSize: "8px",
					fontFamily: "Times New Roman",
					width: "400px",
					height: "100px",
					color: "blue",
					padding: "11px",
					align: "right",
					float: "right",

					display: "none",
					text: "Text powered by."
				},
				containerStyle: {
					border: "2px solid brown",
					borderRadius: "0",
					bgColor: "red",
					fontSize: "8px",
					fontFamily: "Times New Roman",
					width: "400px",
					height: "100px",
					color: "blue",
					padding: "11px",
					align: "right",
					float: "right"
				}
			},
            checkoutUrl: '@Model.CheckoutUrl',
            container: '#splitit-payment-container',
            onError: function () {
                console.log('error');
                $("#error-alert").show();
                $("#splitit-payment-container").hide();
            },
            onSuccess: function (data) {
                console.log('success');
                console.log(data);
                $("#success-alert").show();
                $("#splitit-payment-container").hide();
            }
        });
	</script>
}