@model CommonTestModel

@inject CredentialSource Credentials

@{
    ViewData["Title"] = "Embedded PFv3 - PoC";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<div id="splitit-payment-container">

</div>

<div id="success-alert" class="alert alert-success" style="display: none;">
    Your payment was successful!
</div>

<div id="error-alert" class="alert alert-danger" style="display: none;">
    Your payment failed.
</div>

@section Scripts {
    <script src="@Credentials.PaymentFormEmbedderUrlRoot/e/pf-embedded.js?v=@(System.DateTime.Now.Ticks)"></script>

    <script>
        Splitit.Popup.setup({
            publicToken: '@Model.PublicToken',
            url: '@Credentials.PaymentFormEmbedderUrlRoot',
            container: '#splitit-payment-container',
            onError: function () {
                console.log('error');
                $("#error-alert").show();
                $("#splitit-payment-container").hide();
            },
            onSuccess: function (data) {
                console.log('success');
                console.log(data);
                $("#success-alert").show();
                $("#splitit-payment-container").hide();
            }
        });
    </script>
}