@model CommonTestModel
@{
    ViewData["Title"] = "Flex Fields - Custom installments picker";
}

<h1>@ViewData["Title"]</h1>

 <div class="splitit-default-ui grouped">
    <div class="splitit-cc-group">
        <div id="card-number"></div>
        <div id="expiration-date"></div>
        <div id="cvv"></div>
        <div class="splitit-cc-group-separator"></div>
    </div>
    
    <div>
        <select id="num-installments-selector" onchange="numInstallmentsPicked(this)">
            <option value="1">One installment</option>
            <option value="2" selected="true">Two installments</option>
            <option value="6">Six installments</option>
            <option value="12">Many installments</option>
        </select>
    </div>
    <div id="payment-schedule"></div>
    <div id="error-box"></div>
    <div id="terms-conditions"></div>
    <button id="btn-pay"></button>
</div>

@section Scripts {
    <script>
        var ff = Splitit.FlexFields.setup({
            fields: {
                number: {
                    selector: "#card-number"
                },
                cvv: {
                    selector: "#cvv"
                },
                expirationDate: {
                    selector: "#expiration-date"
                }
            },
            termsConditions: {
                selector: "#terms-conditions"
            },
            paymentSchedule: {
                selector: "#payment-schedule"
            },
            errorBox: {
                selector: "#error-box"
            },
            paymentButton: {
                selector: "#btn-pay"
            }
        }).ready(function () {
            var splititFlexFields = this;
            this.setNumInstallments(parseInt($("#num-installments-selector").val()));

            $.ajax({
                url: '@Url.Action("AjaxInitiate", "BackwardCmp")',
                method: "post",
                data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),
                    amount: 1000,
                    numInstallments: null,
                    billingAddress: {
                        AddressLine: "260 Madison Avenue.",
                        AddressLine2: "Appartment 1",
                        City: "New York",
                        State: "NY",
                        Country: "USA",
                        Zip: "10016"
                    },
                    consumerModel: {
                        FullName: "John Smith",
                        Email: "flexy.custom-picker@splitit.com",
                        PhoneNumber: "1-844-775-4848",
                        CultureName: "en-us"
                    }
                },
                success: function (data) {
                    splititFlexFields.set(data);
                }
            });
            
        }).onSuccess(function (result) {
            // Respond here if everything goes well.
            alert('Payment was successful! Check console for result details.');
            console.log(result);
        });

        function numInstallmentsPicked(sender){
            ff.setNumInstallments(parseInt($(sender).val()));
        }

    </script>
}